/* Base styles*/
figure, label, section, figure {
    color: cyan;
    background: black;
}
figure {
    text-align: center;
}

section:focus{
    background: cyan;
    color: white;
}

textarea{
    color: white;
    background: black;
}

.login-modal label{
    text-align: center;
}
.left-column, .right-column{
    display: inline;
    height: 100%;
}
.left-column{
    width: 35%;
    padding: 0 0 0 0;
}
.right-column{
    width: 65%;
}

.left-column-top{
    width: 100%;
    height: 85%;
}

.left-column-bottom{
    width: 100%;
    height: 15%;
}

hr {
    background: black;
    color: white;
    content: '═';
}

button {
    display: block;
    background: black;
    color: white;
}

button:focus {
    background: black;
    color: cyan;
}
button:last-child {
    margin: 0;
}

.btn-inline{
    display: inline;
}

#delete-popup p{
    text-align: center;
}
#delete-popup button{
    width: 50%;
    margin: 2px 0 1px;
    display: inline;
}

/*[name="username"]*/
/*[name="task-title"] */
/*[name="task-description"]*/
input:focus, textarea:focus {
    background: black;
    color: cyan;
    caret-color: cyan;
}

label.error {
    color: red;
    visibility: hidden;
    margin: 0;
}

ol{/*[name="task-list"], [name="task-status"]*/
    background: black;
    color: white;
}

ol:focus {
    color: cyan;
}

ol li{ /* @todo still doesn't work for class extension and dynamically */
    height: 1px;
}

/* Login screen*/


.login-modal{
    /*margin: auto;*/ /*@todo need to implement to allow vertical and horizontal align */
    width: 50%;
    height: 50%;
    display: inline;
    padding: 4px 4px;
}