/* Base styles*/
section, figure {
    color: cyan;
    background: black;
}
figure {
    text-align: center;
}
section:focus{
    background: cyan;
    color: white;
}

textarea{
    color: white;
    background: black;
}
label {
    background: cyan;
    color: black;
}

.login-modal label{
    text-align: center;
}

hr {
    background: black;
    color: white;
    content: '═';
}

button {
    display: block;
    background: black;
    color: white;
}

button:focus {
    background: black;
    color: cyan;
}
button:last-child {
    margin: 0;
}

.btn-inline{
    display: inline;
}

#delete-popup p{
    text-align: center;
}
#delete-popup button{
    width: 50%;
    margin: 2px 0 1px;
    display: inline;
}

/*[name="username"]*/
/*[name="task-title"] */
/*[name="task-description"]*/
input:focus, textarea:focus {
    background: black;
    color: cyan;
    caret-color: cyan;
}

label.error {
    color: red;
    visibility: hidden;
    margin: 0;
}

ol{/*[name="task-list"], [name="task-status"]*/
    background: black;
    color: white;
}

ol:focus {
    color: cyan;
}

ol li{ /* @todo still doesn't work for class extension and dynamically */
    height: 1px;
}

/* Login screen*/
.login-modal {
    padding: 4px 4px;
}