/* Base styles*/
section {
    border-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
section:focus{
    background: blue;
    color: white;
}
label {
    background: blue;
    color: white;
}
figure {
    text-align: center;
}

hr {
    background: black;
    color: white;
    content: '═';
}

button {
    background: blue;
    color: white;
    margin: 0 1px;
}
button:focus {
    background: white;
    color: blue;
}
button:last-child {
    margin: 0;
}

#delete-popup p{
    text-align: center;
}
#delete-popup button{
    margin: 2px 5px 0;
}

/*[name="username"]*/
/*[name="task-title"] */
/*[name="task-description"]*/
input:focus, textarea:focus {
    background: white;
    color: blue;
    caret-color: red;
}

label.error {
    color: red;
    visibility: hidden;
}

ol{/*[name="task-list"], [name="task-status"]*/
    background: black;
}
ol:focus {
    background: white;
    color: blue;
}

/* Login screen*/
.login-modal {
    padding: 4px 4px;
}