/* Base styles*/
section {
    border-color: white;
    outline-color: blue;
    caret-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

figure {
}

hr {
}

button {
    outline-color: blue;
    caret-color: white;
}

/*[name="username"]*/
/*[name="task-title"] */
/*[name="task-description"]*/
input, textarea {
    outline-color: white;
    caret-color: blue;
}

/* Login screen*/
.login-modal {
    padding: 4px 4px;
}

.login-modal label{
    background: blue;
}


#login-validation-username {
    color: white;
    visibility: hidden;
}

/* Login screen end*/

/*[name="task-list"]*/
/*[name="task-status"]*/
ol {
    outline-color: white;
    caret-color: blue;
}